<ion-view view-title="{{chatName}}">
  <ion-content class="padding">
      <ul id="messageList"></ul>
  </ion-content>
    
    <ion-footer-bar class="padding">
    <div class="item item-input" style="width: 100%">
        <label class="item-input-wrapper">
          <input type="text" id='messageInput' placeholder="Write a message..." name="messageInput" ng-model="messageInputModel" ng-keypress="checkIfEnterKeyWasPressed($event, messageInputModel)">
        </label>
        <button class="button button-small" ng-click="submitMessage(messageInputModel)">
          Submit
        </button>
      </div>
    </ion-footer-bar>
</ion-view>
