<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content>
        <div class="center-horizontal login-container">
           <img src="img/Logo.png" class="center-horizontal login-logo"/>

            <ion-list class="list list-inset">
                
                <div style="position: relative;">
                    <img src="img/profileIcon.png" class="user-credentials-icon"/>
                    <label class="item item-input item-floating-label neutral" style="margin-left: 12%;">
                      <span class="input-label neutral">Username</span>
                      <input type="text" ng-model="usernameModel" placeholder="Username">
                    </label>
                </div>
                    <span class="inline-error" ng-show="usernameError"> {{usernameError}}</span>
                
                <div style="position: relative;">
                    <img src="img/securityIcon.png" class="user-credentials-icon"/>
                    <label class="item item-input item-floating-label neutral" style="margin-left: 12%;">
                      <span class="input-label neutral">Password</span>
                      <input type="text" ng-model="passwordModel" placeholder="Password">
                    </label>
                </div>
                <span class="inline-error" ng-show="passwordError"> {{passwordError}}</span>
                
                
            </ion-list>
            <button class="button button-block primary" ng-click="login(usernameModel,passwordModel)">Log In</button>
            <button class="button button-clear button-full neutral small-text">
              Forgot your password?
            </button>
        </div>
    </ion-content>
    
    <div class="bar bar-footer grey-botom-bar" scrollable="false" ng-click="goRegisterPage()">
        <div class="title neutral">Dont have an account? <b>Register now!</b></div>
    </div>
</ion-view>