<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content scroll="false" has-bouncing="false">
        <div class="center">
            <h1 style="font-size: 5em; font-weight:500;">Restory.</h1>
            <h2 style="text-align: right">Anonymous peer support.</h2>
            <h3 style="text-align: left">We're here for you.</h3>

            <ion-list class="list list-inset login-container">
                <button class="button button-full button-outline button-positive" ng-click="login()">Tap here to begin</button>
            </ion-list>
        </div>
    </ion-content>
</ion-view>