<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content class="clouds">
        <div class="center-horizontal" style="padding-top: 40px; width: 80%; max-width: 80%; display:block; margin:auto;">
            <img src="img/Logo.png" style="no-repeat; width:100%; height:120px">
            <h2 style="text-align: right; color: white">Anonymous peer support.</h2>
            <h3 style="text-align: left; color: white">We're here for you.</h3>

            <ion-list class="list list-inset login-container">
                <label class="item item-input item-floating-label" style="border-width: 0;">
                <span class="input-label" style="color: white">Username</span>
                <input type="text" name="username" id="username" ng-model="usernameModel" placeholder="Username">
              </label>
                <HR/>
                <span class="inline-error" ng-show="usernameError"> {{usernameError}}</span>
              <label class="item item-input item-floating-label" style="border-width: 0;">
                <span class="input-label" style="color: white">Password</span>
                <input type="password" name="password" id="password" ng-model="passwordModel" placeholder="Password">
              </label>
                <HR/>
                <span class="inline-error" ng-show="passwordError"> {{passwordError}}</span>
                <button class="button button-block" ng-click="login(usernameModel,passwordModel)" style="opacity: 0.7; border: positive;">Log In</button>
            </ion-list>
        </div>
    </ion-content>
    
    <div class="bar bar-footer bar-calm" scrollable="false" ng-click="goRegisterPage()">
        <div class="title">Sign Up</div>
    </div>
</ion-view>