<ion-view view-title="Register" hide-nav-bar="true">
    <ion-content>
        <div class="center-horizontal login-container">
           <img src="img/Logo.png" class="center-horizontal login-logo"/>
            <ion-list class="list list-inset">
                
                <label class="item item-input item-floating-label neutral">
                    <span class="input-label neutral">Username</span>
                    <input type="text" ng-model="username" placeholder="Username">
                </label>
                <span class="inline-error" ng-show="usernameError">{{usernameError}}</span>
                
                <label class="item item-input item-floating-label neutral">
                    <span class="input-label neutral">Password</span>
                    <input type="password" ng-model="password" placeholder="Password">
                </label>
                <span class="inline-error" ng-show="passwordError">{{passwordError}}</span>
                
                <label class="item item-input item-floating-label neutral">
                    <span class="input-label neutral">Confirm password</span>
                    <input type="password" ng-model="confirmPassword" placeholder="Confirm password">
                </label>
                <span class="inline-error" ng-show="confirmPasswordError"> {{confirmPasswordError}}</span>
            </ion-list>
            
            <button class="button button-block primary" ng-click="createUser(username,password, confirmPassword)">Register</button>
        </div>
    </ion-content>
    
    <div class="bar bar-footer grey-botom-bar" scrollable="false" ng-click="goToLoginPage()">
        <div class="title neutral">Already have an account? <b>Log In.</b></div>
    </div>
</ion-view>