<ion-view view-title="Profile">
    <ion-content ion-content scroll="false">
        <ion-item style="border-width: 0;">
            <img ng-src="img/adam.png" style="width: 120px; height: 120px; max-width: 100%; 
            max-height: 100%; display:block; margin:auto; background-repeat: no-repeat;
            background-position: 50%;
            border-radius: 50%;" class="padding">
            <h3 style="text-align: center">
              {{User.username}}
            </h3>
        </ion-item>
        <ion-list class="list list-inset login-container positive padding" style="width: 80%; max-width: 80%; display:block; margin:auto;">
            
              <label class="item item-input item-floating-label" style="border-width: 0;">
                <span class="input-label positive">Status</span>
                <input type="text" placeholder="Status" ng-model="statusModel" ng-blur="updateStatus(statusModel)">
              </label>
              <label class="item item-input item-floating-label positive-border" style="border-left-width: 0; border-right-width: 0;">
                <span class="input-label positive">Mood</span>
                <input type="text" placeholder="Mood" ng-model="moodModel" ng-blur="updateMood(moodModel)">
              </label>
              <label class="item item-input item-floating-label positive-border" style="border-left-width: 0; border-right-width: 0;">
                <span class="input-label positive">Location</span>
                <input type="text" placeholder="Location" ng-model="locationModel" ng-blur="updateLocation(locationModel)">
              </label>
            
        </ion-list>
        
        <div class ="padding" style="padding-top: 30px">
            <button class="button button-outline button-positive" style="width: 80%; max-width: 100%; display:block; margin:auto;" ng-click="logout()">
                Log Out
            </button>
        </div>
    </ion-content>
</ion-view>