<ion-view view-title="Learn">
    <ion-content>
        
        <ion-list>

      <div ng-repeat="resource in resources">

        <ion-item class="item item-icon-left" ng-click="toggleGroup(resource)" ng-class="{active: isGroupShown(resource)}">
              <i class="icon {{resource.icon}} positive"></i>
                    <h2>{{resource.name}}</h2>
                    <p>X resource available</p>
          </ion-item>

        <ion-item class="item-accordion" ng-click="toggleSubGroup(subheading)" ng-repeat="subheading in resource.subheadings" ng-show="isGroupShown(resource)">
                
            <p class="item-text-center sub-item item-text-wrap" style="font-size:100%;color:black">{{subheading.name}}
            <i class="padding-left padding-right" style="float:right;" ng-show='subheading.subsubheadings' ng-class="isSubGroupShown(subheading) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
            </p>

            <ion-item  class="item-accordion" ng-repeat="subsubheading in subheading.subsubheadings" ng-show="isSubGroupShown(subheading)"  ng-click="goto('{{subsubheading.name}}')">
                <div class="item-text-center sub-sub-item item-text-wrap">{{subsubheading.name}}</div>
            </ion-item>

        </ion-item>

      </div>

    </ion-list>
    
    
    </ion-content>
</ion-view>