<ion-view>
    <ion-nav-buttons side="right">
        <div class="item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-clear">
                Cancel
            </button>
        </div>
    </ion-nav-buttons>
    <ion-content scrollable="true">
        <ion-list id="groupChatList">
        <div class="item item-divider">
            Social Support
        </div>  
        </ion-list>
    </ion-content>
    
    <ion-footer-bar class="padding">
    <div class="item item-input" style="width: 100%">
        <label class="item-input-wrapper">
          <input type="text" id='newGroupChatInput' placeholder="create chat" name="newGroupChatInput" ng-model="newChatInputModel">
        </label>
        <button class="button button-small" ng-click="createGroup(newChatInputModel)">
          Add Chat
        </button>
      </div>
    </ion-footer-bar>
</ion-view>