<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only tabs-striped tabs-background-calm tabs-color-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Profile" icon-off="ion-ios-person light" icon-on="ion-ios-person" href="#/tab/profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="Chats" icon-off="ion-ios-chatboxes light" icon-on="ion-ios-chatboxes" href="#/tab/chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Learn" icon-off="ion-ios-book light" icon-on="ion-ios-book" href="#/tab/learn">
        <ion-nav-view name="tab-learn"></ion-nav-view>
    </ion-tab>


</ion-tabs>