<ion-view view-title="Terms & Conditions">

    <ion-content scrollable="true">
    <h1>Terms and Conditions</h1>
    <h2>1. What are these Terms of Use about?</h2>
    <h3>1.1 Why should I read these Terms of Use?</h3>

    <p>
        These terms of use ("Terms of Use") tell you how you may use BBC Online Services to access, view and/or listen to BBC Content for your personal and non-business use so please read them carefully.

    Additional terms which vary or supplement these Terms of Use may apply to your access of some BBC Online Services ("Additional Terms"). If so, these Additional terms will be set out at the point of access to the relevant BBC Online Services. If there is any inconsistency between the Additional Terms for a particular BBC Online Service and the Terms of Use, the Additional Terms will prevail. These Terms of Use and any Additional Terms are collectively referred to as "Terms". The BBC may update the Terms from time to time so please review the relevant pages regularly. If you access BBC Online Services, you agree to be legally bound by whichever version of the Terms is in force at such time.

    These Terms of Use apply solely to non-business users of BBC Online Services. If you are accessing and/or using BBC Online Services in a business capacity, please read the Terms of Use of BBC Online Services for Business Users.
    1.2 Who makes BBC Online Services available to me and what should I do if I have questions, comments, complaints or enquiries?

    BBC Online Services are made available to you by the British Broadcasting Corporation of Broadcasting House, Portland Place, London, W1A 1AA (the "BBC").

    Any reference in the Terms to "you" or "your" means you as a non-business user of BBC Online Services.

    If you have any questions about the Terms or your use of BBC Online Services then you may find the answer at the BBC Help page or the Frequently Asked Questions. If you cannot find the answer there, or if you have any comments or complaints about BBC Online Services, you can contact the BBC.

    If you receive any enquiries which relate to the BBC, any BBC Online Service and/or BBC Content, you should promptly refer such enquiries to the BBC.

    If you think that BBC Content and/or any BBC Online Service should not be appearing on a website, blog or service then please contact us. Contact us about BBC News content or contact us about any other content. 
    1.3 Should I read any other information or terms?

    Please also read the BBC's Privacy and Cookies Policy, which explains how the BBC uses any information about you that it receives. The Privacy and Cookies Policy form part of the Terms. If there is any inconsistency between the Privacy and Cookies Policy and the Terms, the Terms will prevail.

    Some BBC services may ask you to agree to Additional Terms or other terms of use which will apply to your use of that particular service.
        </p>
        
    </ion-content>

    <ion-footer-bar class="bar-stable" style="bottom: 20px;"> <!--work around style for bar getting cut off -->
        <div class="row">
            <div class="col-50 padding">
            <button class="button button-block button-outline button-positive" ng-click="disagree()">Disagree</button>
            </div>
            
            <div class="col-50 padding">
            <button class="button button-block button-positive" ng-click="gotoIntro()">Accept</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>