<ion-content class="blueGradient padding">
        <i class="ion-close-round padding" style="float:right;" ng-click="closePopUp()"></i>
    <div class="padding center-horizontal" align="center">
        <h2>Ready to talk?</h2>

        <h4>We have no agenda and no outline</h4>
        <h5>
        Sign up to 
        Chat with like-minded people
        and
        trained professionals
        for free, confidential and anonymous support
        </h5>

        <h4>We provide an integrative approach to providing support</h4>
        <h5>
        Person centered
        Strengths based
        Faith and culturally sensitive
        Holistic approach to wellbeing
        Tweaked to suit your needs
        </h5>
    </div>
</ion-content>